# 결측치 처리(기출에 나온적은 없으나 있으면 삭제하고 진행)

In [2]:
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p2/ch2/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p2/ch2/test.csv')

In [ ]:
# 삭제

# df = train.dropna() # 결측이 있는 행을 삭제 - test 데이터는 행 삭제하면 0점됨 주의
# df = train.dropna(axis=1) # 결측이 있는 열을 삭제 - 삭제는 가능한데 할꺼면 train/test 둘다 삭제

In [8]:
# 채우기
# 1. 문제의 평가 지표의 결과에 따라서 뭘로 채울지는 결정 - 잘나온 결과에 따라서 결정
# 2. 전처리를 할꺼면 test도 똑같이 처리해야 함
# 3. train에서 생성한 값으로 train/test 둘 다 채워도 무방

# 범주형
most = train['workclass'].mode()[0] # 최빈값

train['workclass'] = train['workclass'].fillna(most)

most

'Private'

In [9]:
# 수치형
mean = int(train['age'].mean())
print(mean)

train['age'] = train['age'].fillna(mean)

median = train['hours.per.week'].median()
train['hours.per.week'] = train['hours.per.week'].fillna(median)
print(median)

38
40.0

In [10]:
train.isnull().sum()

id                   0
age                  0
workclass            0
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     537
income               0
dtype: int64

In [11]:
cond = train['age'] <= 0
train[cond]

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
39,29188,-33.0,Private,263561,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60.0,United-States,>50K
79,14325,-38.0,Private,22245,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60.0,United-States,>50K
26161,4292,-25.0,Private,200681,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,40.0,United-States,<=50K

In [ ]:
cond = train['age'] > 0 # 나이가 음수인 데이터 삭제
train = train[cond]