# 스케일링(수치형 데이터간의 범위 비대칭 보정)

In [5]:
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p2/ch2/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p2/ch2/test.csv')

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29304 entries, 0 to 29303
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              29304 non-null  int64
 1   age             29292 non-null  float64
 2   workclass       27642 non-null  object
 3   fnlwgt          29304 non-null  int64
 4   education       29304 non-null  object
 5   education.num   29304 non-null  int64
 6   marital.status  29304 non-null  object
 7   occupation      27636 non-null  object
 8   relationship    29304 non-null  object
 9   race            29304 non-null  object
 10  sex             29304 non-null  object
 11  capital.gain    29304 non-null  int64
 12  capital.loss    29304 non-null  int64
 13  hours.per.week  29291 non-null  float64
 14  native.country  28767 non-null  object
 15  income          29304 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 3.6+ MB

In [4]:
from sklearn.preprocessing import MinMaxScaler # 0~1 사이의 값으로 변환

cols =['age', 'education.num']

scaler = MinMaxScaler()

train[cols] = scaler.fit_transform(train[cols])
test[cols] = scaler.transform(test[cols])

train.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,3331,0.562500,State-gov,177331,Some-college,0.600000,Married-civ-spouse,Prof-specialty,Husband,Black,Male,4386,0,40.0,United-States,>50K
1,19749,0.750000,Private,290661,HS-grad,0.533333,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40.0,United-States,<=50K
2,1157,0.671875,Private,125933,Some-college,0.600000,Widowed,Exec-managerial,Unmarried,Black,Female,0,1669,38.0,United-States,<=50K
3,693,0.750000,Private,100313,Some-college,0.600000,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1902,40.0,United-States,>50K
4,12522,0.617188,Private,195661,Some-college,0.600000,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,54.0,United-States,<=50K

In [6]:
from sklearn.preprocessing import StandardScaler # 평균이 0 표준편차 1인 정규분포

scaler = StandardScaler()

train[cols] = scaler.fit_transform(train[cols])
test[cols] = scaler.transform(test[cols])

train.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,3331,-0.334094,State-gov,177331,Some-college,-0.031447,Married-civ-spouse,Prof-specialty,Husband,Black,Male,4386,0,40.0,United-States,>50K
1,19749,1.426912,Private,290661,HS-grad,-0.420434,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40.0,United-States,<=50K
2,1157,0.693159,Private,125933,Some-college,-0.031447,Widowed,Exec-managerial,Unmarried,Black,Female,0,1669,38.0,United-States,<=50K
3,693,1.426912,Private,100313,Some-college,-0.031447,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1902,40.0,United-States,>50K
4,12522,0.179533,Private,195661,Some-college,-0.031447,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,54.0,United-States,<=50K

In [ ]:
from sklearn.preprocessing import RobustScaler # 중앙값과 사분위값 활용, 이상치가 많은 경우 활용

scaler = RobustScaler()

train[cols] = scaler.fit_transform(train[cols])
test[cols] = scaler.transform(test[cols])

train.head()

In [7]:
total = pd.concat([train, test], axis=0)
total.shape

(32561, 16)

In [9]:
total['income'] = total['income'].replace('>50K', 1).replace('<=50K', 0)
total['income']

C:\Users\user\AppData\Local\Temp\ipykernel_36112\3658375552.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  total['income'] = total['income'].replace('>50K', 1).replace('<=50K', 0)

0       1.0
1       0.0
2       0.0
3       1.0
4       0.0
       ...
3252    NaN
3253    NaN
3254    NaN
3255    NaN
3256    NaN
Name: income, Length: 32561, dtype: float64