In [ ]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

import pandas as pd

train = pd.read_csv("data/customer_train.csv")
test = pd.read_csv("data/customer_test.csv")

# print(train.isnull().sum())
# print(test.isnull().sum())

# print(train.describe(include='O'))
# print(test.describe(include='O'))

a = set(train['주구매상품'])
b = set(test['주구매상품'])

# print(a - b)
# print(b - a)

train['환불금액'] = train['환불금액'].fillna(0)
test['환불금액'] = test['환불금액'].fillna(0)

from sklearn.preprocessing import LabelEncoder

cols = ['주구매상품', '주구매지점']

for col in cols:
	le = LabelEncoder()
	train[col] = le.fit_transform(train[col])
	test[col] = le.transform(test[col])

#df = pd.concat([train, test])
#df = pd.get_dummies(df)
#
#train = df[:len(train)]
#test = df[len(train):]
	
from sklearn.model_selection import train_test_split

target = train.pop('총구매액')

X_train, X_val, y_train, y_val = train_test_split(
	train,
	target,
	test_size=0.2,
	random_state=0
)

#print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
#pred = model.predict(X_val)
#
#from sklearn.metrics import root_mean_squared_error
#
#print(root_mean_squared_error(y_val, pred))

# 802 - 레이블인코딩
# 833 - 원핫

pred = model.predict(test)
print(pred.shape)

submit = pd.DataFrame({
	'pred' : pred
})

submit.to_csv("result.csv", index=False)

print(pd.read_csv('result.csv'))

In [ ]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
train.describe(include='O')

,Employment Type,GraduateOrNot,FrequentFlyer,EverTravelledAbroad
count,1490,1490,1490,1490
unique,2,2,2,2
top,Private Sector/Self Employed,Yes,No,No
freq,1056,1270,1175,1209

In [4]:
train.isnull().sum()

Unnamed: 0             0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [3]:
test.describe(include='O')

,Employment Type,GraduateOrNot,FrequentFlyer,EverTravelledAbroad
count,497,497,497,497
unique,2,2,2,2
top,Private Sector/Self Employed,Yes,No,No
freq,361,422,395,398

In [5]:
test.isnull().sum()

Unnamed: 0             0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [7]:
train.describe()

,Unnamed: 0,Age,AnnualIncome,FamilyMembers,ChronicDiseases,TravelInsurance
count,1490.000000,1490.000000,1.490000e+03,1490.000000,1490.000000,1490.000000
mean,992.277181,29.600000,9.310738e+05,4.755705,0.280537,0.352349
std,566.637006,2.887829,3.763057e+05,1.603613,0.449412,0.477862
min,0.000000,25.000000,3.000000e+05,2.000000,0.000000,0.000000
25%,502.250000,28.000000,6.000000e+05,4.000000,0.000000,0.000000
50%,994.500000,29.000000,9.000000e+05,5.000000,0.000000,0.000000
75%,1479.750000,32.000000,1.250000e+06,6.000000,1.000000,1.000000
max,1983.000000,35.000000,1.800000e+06,9.000000,1.000000,1.000000

In [8]:
train.head()

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,888,28,Private Sector/Self Employed,Yes,1250000,6,1,No,No,0
1,1308,31,Private Sector/Self Employed,Yes,1250000,7,1,No,No,0
2,151,29,Private Sector/Self Employed,Yes,1200000,7,0,No,No,1
3,396,33,Government Sector,Yes,650000,6,1,No,No,1
4,135,28,Private Sector/Self Employed,Yes,800000,6,0,No,Yes,1

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: int64(6), object(4)
memory usage: 116.5+ KB

In [12]:
train.describe(include='O')

,Employment Type,GraduateOrNot,FrequentFlyer,EverTravelledAbroad
count,1490,1490,1490,1490
unique,2,2,2,2
top,Private Sector/Self Employed,Yes,No,No
freq,1056,1270,1175,1209

In [14]:
from sklearn.preprocessing import LabelEncoder

cols = ['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']

le = LabelEncoder()

for col in cols:
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])

In [15]:
train.head()

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,888,28,1,1,1250000,6,1,0,0,0
1,1308,31,1,1,1250000,7,1,0,0,0
2,151,29,1,1,1200000,7,0,0,0,1
3,396,33,0,1,650000,6,1,0,0,1
4,135,28,1,1,800000,6,0,0,1,1

In [16]:
from sklearn.model_selection import train_test_split

target = train.pop('TravelInsurance')

X_train, X_val, y_train, y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((1192, 9), (298, 9), (1192,), (298,))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
pred = rf.predict_proba(test)
pred

array([[0.79, 0.21],
       [0.91, 0.09],
       [0.89, 0.11],
       [0.01, 0.99],
       [0.83, 0.17],
       [0.02, 0.98],
       [0.46, 0.54],
       [0.95, 0.05],
       [0.06, 0.94],
       [0.91, 0.09],
       [0.93, 0.07],
       [0.98, 0.02],
       [0.69, 0.31],
       [0.87, 0.13],
       [0.08, 0.92],
       [0.84, 0.16],
       [0.78, 0.22],
       [0.84, 0.16],
       [0.63, 0.37],
       [0.42, 0.58],
       [0.83, 0.17],
       [0.92, 0.08],
       [0.  , 1.  ],
       [0.03, 0.97],
       [1.  , 0.  ],
       [0.02, 0.98],
       [0.01, 0.99],
       [0.91, 0.09],
       [0.05, 0.95],
       [0.02, 0.98],
       [0.82, 0.18],
       [0.77, 0.23],
       [0.93, 0.07],
       [0.57, 0.43],
       [0.82, 0.18],
       [0.07, 0.93],
       [0.86, 0.14],
       [0.83, 0.17],
       [0.04, 0.96],
       [0.75, 0.25],
       [0.89, 0.11],
       [0.99, 0.01],
       [0.81, 0.19],
       [0.92, 0.08],
       [0.01, 0.99],
       [0.95, 0.05],
       [0.01, 0.99],
       [0.83, 0.17],
       [0.88, 0.12],
       [0.91, 0.09],
       [0.94, 0.06],
       [0.85, 0.15],
       [0.6 , 0.4 ],
       [0.47, 0.53],
       [0.86, 0.14],
       [0.99, 0.01],
       [0.78, 0.22],
       [0.06, 0.94],
       [0.61, 0.39],
       [0.11, 0.89],
       [0.69, 0.31],
       [0.32, 0.68],
       [0.82, 0.18],
       [0.49, 0.51],
       [0.84, 0.16],
       [0.68, 0.32],
       [0.85, 0.15],
       [0.11, 0.89],
       [0.07, 0.93],
       [0.79, 0.21],
       [0.81, 0.19],
       [0.91, 0.09],
       [1.  , 0.  ],
       [0.03, 0.97],
       [0.63, 0.37],
       [0.93, 0.07],
       [0.84, 0.16],
       [0.15, 0.85],
       [0.05, 0.95],
       [0.93, 0.07],
       [0.91, 0.09],
       [0.09, 0.91],
       [0.68, 0.32],
       [0.67, 0.33],
       [0.96, 0.04],
       [0.68, 0.32],
       [0.8 , 0.2 ],
       [0.73, 0.27],
       [0.12, 0.88],
       [0.8 , 0.2 ],
       [0.88, 0.12],
       [0.78, 0.22],
       [0.79, 0.21],
       [0.75, 0.25],
       [0.01, 0.99],
       [0.56, 0.44],
       [0.01, 0.99],
       [0.98, 0.02],
       [0.6 , 0.4 ],
       [0.93, 0.07],
       [0.81, 0.19],
       [0.84, 0.16],
       [0.03, 0.97],
       [0.7 , 0.3 ],
       [0.93, 0.07],
       [0.88, 0.12],
       [0.77, 0.23],
       [0.02, 0.98],
       [0.06, 0.94],
       [0.74, 0.26],
       [0.7 , 0.3 ],
       [0.79, 0.21],
       [0.93, 0.07],
       [0.14, 0.86],
       [0.  , 1.  ],
       [0.78, 0.22],
       [0.79, 0.21],
       [0.9 , 0.1 ],
       [0.27, 0.73],
       [0.39, 0.61],
       [0.79, 0.21],
       [0.1 , 0.9 ],
       [0.89, 0.11],
       [0.98, 0.02],
       [0.81, 0.19],
       [0.13, 0.87],
       [0.5 , 0.5 ],
       [0.99, 0.01],
       [0.81, 0.19],
       [0.9 , 0.1 ],
       [0.73, 0.27],
       [0.37, 0.63],
       [0.85, 0.15],
       [0.96, 0.04],
       [0.64, 0.36],
       [0.91, 0.09],
       [0.92, 0.08],
       [0.82, 0.18],
       [0.83, 0.17],
       [0.  , 1.  ],
       [0.9 , 0.1 ],
       [0.78, 0.22],
       [0.1 , 0.9 ],
       [0.38, 0.62],
       [0.93, 0.07],
       [0.9 , 0.1 ],
       [0.58, 0.42],
       [0.88, 0.12],
       [0.94, 0.06],
       [0.96, 0.04],
       [0.97, 0.03],
       [0.9 , 0.1 ],
       [0.42, 0.58],
       [0.06, 0.94],
       [0.39, 0.61],
       [0.78, 0.22],
       [0.5 , 0.5 ],
       [0.02, 0.98],
       [0.02, 0.98],
       [0.58, 0.42],
       [0.94, 0.06],
       [0.98, 0.02],
       [0.12, 0.88],
       [0.94, 0.06],
       [0.88, 0.12],
       [0.76, 0.24],
       [0.72, 0.28],
       [0.97, 0.03],
       [0.94, 0.06],
       [0.84, 0.16],
       [0.87, 0.13],
       [0.04, 0.96],
       [0.95, 0.05],
       [0.65, 0.35],
       [0.8 , 0.2 ],
       [0.97, 0.03],
       [0.82, 0.18],
       [0.85, 0.15],
       [0.68, 0.32],
       [0.97, 0.03],
       [0.8 , 0.2 ],
       [0.02, 0.98],
       [0.56, 0.44],
       [0.98, 0.02],
       [0.76, 0.24],
       [0.56, 0.44],
       [0.81, 0.19],
       [0.7 , 0.3 ],
       [0.42, 0.58],
       [0.74, 0.26],
       [0.69, 0.31],
       [0.07, 0.93],
       [0.91, 0.09],
       [0.17, 0.83],
       [0.85, 0.15],
       [0.69, 0.31],
       [0.94, 0.06],
       [1.  , 0.  ],
       [0.04, 0.96],
       [0.93, 0.07],
       [0.8 , 0.2 ],
       [0.02, 0.98],
       [0.85, 0.15],
       [0.65, 0.35],
       [0.85, 0.15],
       [0.83, 0.17],
       [0.92, 0.08],
       [0.87, 0.13],
       [0.84, 0.16],
       [0.91, 0.09],
       [0.79, 0.21],
       [0.86, 0.14],
       [0.62, 0.38],
       [0.97, 0.03],
       [0.07, 0.93],
       [0.78, 0.22],
       [0.97, 0.03],
       [0.91, 0.09],
       [0.8 , 0.2 ],
       [0.83, 0.17],
       [0.08, 0.92],
       [0.53, 0.47],
       [0.6 , 0.4 ],
       [0.81, 0.19],
       [0.6 , 0.4 ],
       [0.78, 0.22],
       [0.71, 0.29],
       [0.86, 0.14],
       [0.73, 0.27],
       [0.93, 0.07],
       [0.88, 0.12],
       [0.67, 0.33],
       [0.63, 0.37],
       [0.49, 0.51],
       [0.89, 0.11],
       [0.83, 0.17],
       [0.99, 0.01],
       [0.02, 0.98],
       [0.69, 0.31],
       [0.09, 0.91],
       [0.49, 0.51],
       [0.04, 0.96],
       [0.02, 0.98],
       [0.94, 0.06],
       [0.14, 0.86],
       [0.9 , 0.1 ],
       [0.83, 0.17],
       [0.92, 0.08],
       [0.92, 0.08],
       [0.92, 0.08],
       [0.76, 0.24],
       [0.86, 0.14],
       [0.92, 0.08],
       [0.65, 0.35],
       [0.9 , 0.1 ],
       [0.83, 0.17],
       [0.87, 0.13],
       [0.01, 0.99],
       [0.36, 0.64],
       [0.11, 0.89],
       [0.97, 0.03],
       [0.94, 0.06],
       [0.96, 0.04],
       [0.67, 0.33],
       [0.78, 0.22],
       [0.78, 0.22],
       [0.89, 0.11],
       [0.83, 0.17],
       [0.94, 0.06],
       [0.67, 0.33],
       [0.69, 0.31],
       [0.69, 0.31],
       [0.09, 0.91],
       [0.71, 0.29],
       [0.64, 0.36],
       [0.18, 0.82],
       [0.93, 0.07],
       [0.05, 0.95],
       [0.84, 0.16],
       [0.85, 0.15],
       [0.85, 0.15],
       [0.75, 0.25],
       [0.22, 0.78],
       [0.83, 0.17],
       [0.68, 0.32],
       [0.02, 0.98],
       [0.86, 0.14],
       [0.74, 0.26],
       [0.84, 0.16],
       [0.48, 0.52],
       [0.96, 0.04],
       [0.91, 0.09],
       [0.91, 0.09],
       [0.95, 0.05],
       [0.86, 0.14],
       [0.99, 0.01],
       [0.8 , 0.2 ],
       [0.93, 0.07],
       [0.86, 0.14],
       [0.95, 0.05],
       [0.64, 0.36],
       [0.81, 0.19],
       [0.63, 0.37],
       [0.87, 0.13],
       [0.69, 0.31],
       [0.84, 0.16],
       [0.62, 0.38],
       [0.86, 0.14],
       [0.86, 0.14],
       [0.03, 0.97],
       [0.7 , 0.3 ],
       [0.02, 0.98],
       [0.96, 0.04],
       [0.73, 0.27],
       [0.2 , 0.8 ],
       [0.8 , 0.2 ],
       [0.78, 0.22],
       [0.61, 0.39],
       [0.72, 0.28],
       [0.86, 0.14],
       [0.55, 0.45],
       [0.82, 0.18],
       [0.03, 0.97],
       [0.91, 0.09],
       [0.91, 0.09],
       [0.9 , 0.1 ],
       [0.95, 0.05],
       [0.91, 0.09],
       [0.94, 0.06],
       [0.05, 0.95],
       [0.67, 0.33],
       [0.97, 0.03],
       [0.72, 0.28],
       [0.86, 0.14],
       [0.24, 0.76],
       [0.95, 0.05],
       [0.43, 0.57],
       [0.98, 0.02],
       [0.93, 0.07],
       [0.85, 0.15],
       [0.8 , 0.2 ],
       [0.87, 0.13],
       [0.59, 0.41],
       [0.83, 0.17],
       [0.57, 0.43],
       [0.52, 0.48],
       [0.8 , 0.2 ],
       [0.69, 0.31],
       [0.86, 0.14],
       [0.74, 0.26],
       [0.03, 0.97],
       [0.8 , 0.2 ],
       [0.73, 0.27],
       [0.03, 0.97],
       [0.15, 0.85],
       [0.74, 0.26],
       [0.  , 1.  ],
       [0.16, 0.84],
       [0.61, 0.39],
       [0.43, 0.57],
       [0.84, 0.16],
       [0.24, 0.76],
       [0.42, 0.58],
       [0.61, 0.39],
       [0.72, 0.28],
       [0.61, 0.39],
       [0.72, 0.28],
       [0.57, 0.43],
       [0.97, 0.03],
       [0.02, 0.98],
       [0.55, 0.45],
       [0.77, 0.23],
       [0.55, 0.45],
       [0.62, 0.38],
       [0.47, 0.53],
       [0.54, 0.46],
       [0.5 , 0.5 ],
       [0.82, 0.18],
       [0.67, 0.33],
       [0.01, 0.99],
       [0.13, 0.87],
       [0.13, 0.87],
       [0.75, 0.25],
       [0.84, 0.16],
       [0.14, 0.86],
       [0.66, 0.34],
       [0.8 , 0.2 ],
       [0.64, 0.36],
       [0.75, 0.25],
       [0.69, 0.31],
       [0.81, 0.19],
       [0.55, 0.45],
       [0.74, 0.26],
       [0.96, 0.04],
       [0.89, 0.11],
       [0.75, 0.25],
       [0.79, 0.21],
       [0.92, 0.08],
       [0.77, 0.23],
       [0.02, 0.98],
       [0.72, 0.28],
       [0.  , 1.  ],
       [0.04, 0.96],
       [0.35, 0.65],
       [0.89, 0.11],
       [0.3 , 0.7 ],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.07, 0.93],
       [0.91, 0.09],
       [0.67, 0.33],
       [0.03, 0.97],
       [0.89, 0.11],
       [0.04, 0.96],
       [0.73, 0.27],
       [0.05, 0.95],
       [0.69, 0.31],
       [0.96, 0.04],
       [0.05, 0.95],
       [0.14, 0.86],
       [0.95, 0.05],
       [0.88, 0.12],
       [0.45, 0.55],
       [0.1 , 0.9 ],
       [0.7 , 0.3 ],
       [0.72, 0.28],
       [0.53, 0.47],
       [0.79, 0.21],
       [0.  , 1.  ],
       [0.81, 0.19],
       [0.58, 0.42],
       [0.28, 0.72],
       [0.03, 0.97],
       [0.52, 0.48],
       [0.95, 0.05],
       [0.03, 0.97],
       [0.99, 0.01],
       [0.07, 0.93],
       [0.67, 0.33],
       [0.91, 0.09],
       [0.97, 0.03],
       [0.04, 0.96],
       [0.98, 0.02],
       [0.31, 0.69],
       [0.82, 0.18],
       [0.23, 0.77],
       [0.84, 0.16],
       [0.87, 0.13],
       [0.9 , 0.1 ],
       [0.43, 0.57],
       [0.27, 0.73],
       [0.89, 0.11],
       [0.94, 0.06],
       [0.76, 0.24],
       [0.03, 0.97],
       [0.9 , 0.1 ],
       [0.88, 0.12],
       [0.1 , 0.9 ],
       [0.96, 0.04],
       [0.8 , 0.2 ],
       [0.85, 0.15],
       [0.88, 0.12],
       [0.06, 0.94],
       [0.25, 0.75],
       [0.95, 0.05],
       [0.98, 0.02],
       [0.1 , 0.9 ],
       [0.09, 0.91],
       [0.32, 0.68],
       [0.89, 0.11],
       [0.67, 0.33],
       [0.82, 0.18],
       [0.77, 0.23],
       [0.96, 0.04],
       [0.  , 1.  ],
       [0.85, 0.15],
       [0.82, 0.18],
       [0.71, 0.29],
       [0.05, 0.95],
       [0.88, 0.12],
       [0.14, 0.86],
       [0.97, 0.03],
       [0.9 , 0.1 ],
       [0.92, 0.08],
       [0.04, 0.96],
       [0.54, 0.46],
       [0.8 , 0.2 ],
       [0.97, 0.03],
       [0.84, 0.16],
       [0.1 , 0.9 ],
       [0.42, 0.58],
       [0.85, 0.15],
       [0.97, 0.03],
       [0.04, 0.96],
       [0.85, 0.15],
       [0.05, 0.95],
       [0.  , 1.  ]])

In [25]:
test.info()
test_id = test['Unnamed: 0']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    int64
 3   GraduateOrNot        497 non-null    int64
 4   AnnualIncome         497 non-null    int64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    int64
 8   EverTravelledAbroad  497 non-null    int64
dtypes: int64(9)
memory usage: 35.1 KB

In [ ]:
df = pd.DataFrame({
    'id' : test_id,
    'pred' : pred[:, 1]
})

       id  pred
0     920  0.21
1     777  0.09
2     696  0.11
3     907  0.99
4     675  0.17
..    ...   ...
492   595  0.03
493  1091  0.96
494  1128  0.15
495  1771  0.95
496   761  1.00

[497 rows x 2 columns]

In [2]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB

In [6]:
train.describe(include='O')

       Gender Ever_Married Graduated Profession Spending_Score  Var_1
count    6665         6665      6665       6665           6665   6665
unique      2            2         2          9              3      7
top      Male          Yes       Yes     Artist            Low  Cat_6
freq     3677         3944      4249       2192           3999   4476

In [9]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [10]:
test_id = test.pop('ID')

KeyError: 'ID'

In [14]:
train = train.drop('ID', axis=1)

KeyError: "['ID'] not found in axis"

In [15]:
target = train.pop('Segmentation')
target

0       4
1       2
2       2
3       3
4       3
       ..
6660    2
6661    4
6662    4
6663    2
6664    2
Name: Segmentation, Length: 6665, dtype: int64

In [16]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(train, target)

RandomForestClassifier()

In [17]:
pred = rf.predict(test)
pred

array([2, 3, 3, ..., 2, 3, 4], shape=(2154,))

In [19]:
pd.DataFrame({
    'ID' : test_id,
    'Segmentation' : pred
}).to_csv('result.csv', index=False)

In [20]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.shape, test.shape

((3759, 9), (1617, 8))

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3759 entries, 0 to 3758
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         3759 non-null   object
 1   year          3759 non-null   int64
 2   price         3759 non-null   int64
 3   transmission  3759 non-null   object
 4   mileage       3759 non-null   int64
 5   fuelType      3759 non-null   object
 6   tax           3759 non-null   int64
 7   mpg           3759 non-null   float64
 8   engineSize    3759 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 264.4+ KB

In [23]:
train.describe()

,year,price,mileage,tax,mpg,engineSize
count,3759.000000,3759.000000,3759.000000,3759.000000,3759.000000,3759.000000
mean,2016.887736,12353.321362,23191.786379,114.444001,57.793083,1.352807
std,2.151811,4750.338051,19223.258713,61.713682,10.099221,0.437130
min,2002.000000,1095.000000,5.000000,0.000000,20.900000,0.000000
25%,2016.000000,9000.000000,9997.500000,75.000000,52.300000,1.000000
50%,2017.000000,11495.000000,18180.000000,145.000000,58.900000,1.200000
75%,2018.000000,15310.000000,31000.000000,145.000000,65.700000,1.500000
max,2060.000000,48000.000000,144000.000000,570.000000,201.800000,5.000000

In [22]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1617 entries, 0 to 1616
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         1617 non-null   object
 1   year          1617 non-null   int64
 2   transmission  1617 non-null   object
 3   mileage       1617 non-null   int64
 4   fuelType      1617 non-null   object
 5   tax           1617 non-null   int64
 6   mpg           1617 non-null   float64
 7   engineSize    1617 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 101.2+ KB

In [24]:
test.describe()

              year        mileage          tax          mpg   engineSize
count  1617.000000    1617.000000  1617.000000  1617.000000  1617.000000
mean   2016.752628   23817.544836   113.089054    57.804082     1.362894
std       2.182152   20130.026364    63.584868    10.567025     0.436878
min    2005.000000       5.000000     0.000000    20.900000     0.000000
25%    2016.000000   10422.000000    30.000000    52.300000     1.000000
50%    2017.000000   18471.000000   145.000000    58.900000     1.200000
75%    2018.000000   31098.000000   145.000000    65.700000     1.600000
max    2020.000000  150890.000000   570.000000   201.800000     5.000000

In [26]:
train.describe(include='O')

          model transmission fuelType
count      3759         3759     3759
unique       19            3        3
top      Fiesta       Manual   Petrol
freq       1372         3234     2541

In [27]:
test.describe(include='O')

          model transmission fuelType
count      1617         1617     1617
unique       19            3        3
top      Fiesta       Manual   Petrol
freq        591         1385     1085

In [28]:
target = train.pop('price')
target

0       10298
1       10491
2       13498
3       10600
4       11000
        ...
3754    10495
3755    17991
3756     6830
3757    11500
3758     8295
Name: price, Length: 3759, dtype: int64

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3759 entries, 0 to 3758
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         3759 non-null   object
 1   year          3759 non-null   int64
 2   transmission  3759 non-null   object
 3   mileage       3759 non-null   int64
 4   fuelType      3759 non-null   object
 5   tax           3759 non-null   int64
 6   mpg           3759 non-null   float64
 7   engineSize    3759 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 235.1+ KB

In [30]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [31]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(train, target)

RandomForestRegressor()

In [32]:
pred = rf.predict(test)
pred

array([15306.92, 15111.61, 14319.67, ...,  9783.84, 14254.62,  4650.63],
      shape=(1617,))

In [33]:
pd.DataFrame({
    'pred' : pred
}).to_csv('result.csv', index=False)

In [34]:
import pandas as pd

train = pd.read_csv('energy_train.csv')
test = pd.read_csv('energy_test.csv')

train.head()

,Compac,Surf_Area,Wall_Area,Roof,Height,Orient,Glaze_Area,Glaze_Distr,Cool_Load,Heat_Load
0,0.74,686.0,245.0,220.5,Short,South,0.25,3,14.72,Very Low
1,0.98,514.5,294.0,Small,Tall,South,0.40,2,33.94,High
2,0.90,563.5,318.5,Medium,Tall,West,0.25,1,37.58,High
3,0.74,686.0,245.0,220.5,Short,South,0.25,2,15.18,Very Low
4,0.98,514.5,294.0,Small,Tall,East,0.25,2,29.69,High

In [35]:
train.describe(include='O')

         Roof Height Orient Heat_Load
count     537    537    537       537
unique      4      2      4         5
top     220.5   Tall  South  Very Low
freq      257    280    145       142

In [36]:
test.describe(include='O')

         Roof Height Orient
count     231    231    231
unique      4      2      4
top     220.5  Short  North
freq      127    127     74

In [37]:
target = train.pop('Heat_Load')

In [38]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [55]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)

In [56]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=0)

rf.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [57]:
pred = rf.predict(X_val)
pred

array(['High', 'Very Low', 'Medium', 'Very Low', 'High', 'Very Low',
       'Low', 'Low', 'Low', 'Low', 'High', 'Medium', 'High', 'Very Low',
       'Medium', 'Very High', 'Medium', 'Very Low', 'Low', 'Medium',
       'High', 'Very Low', 'High', 'Low', 'Low', 'Low', 'Low', 'Very Low',
       'Very Low', 'Very Low', 'High', 'Medium', 'Low', 'Very High',
       'Very Low', 'Very Low', 'High', 'Very High', 'Very Low', 'High',
       'Very High', 'Very High', 'High', 'Very Low', 'High', 'Very Low',
       'Very High', 'High', 'High', 'Very High', 'High', 'Very Low',
       'Low', 'Very High', 'Very Low', 'Very Low', 'High', 'Very Low',
       'Very Low', 'Very Low', 'Very Low', 'Very High', 'Very Low',
       'Medium', 'Very High', 'Low', 'High', 'Very Low', 'Low', 'Medium',
       'High', 'Very High', 'Very High', 'Medium', 'Very Low', 'High',
       'Very Low', 'Medium', 'High', 'Very Low', 'Very Low', 'Low', 'Low',
       'Very Low', 'Very High', 'High', 'High', 'High', 'Low', 'Low',
       'Medium', 'High', 'Low', 'High', 'Very Low', 'High', 'Very High',
       'Very High', 'High', 'Very Low', 'Low', 'Very High', 'Very High',
       'Low', 'High', 'Low', 'Low', 'Medium'], dtype=object)

In [58]:
from sklearn.metrics import f1_score

print(f1_score(pred, y_val, average='macro'))

0.9277616846430405

In [1]:
import pandas as pd

train = pd.read_csv('mart_train.csv')
test = pd.read_csv('mart_test.csv')

train

,branch,city,customer_type,gender,product_line,total,payment_method,rating,time_of_day,day_name
0,A,Yangon,Member,Female,Health and beauty,823457.25,Ewallet,9.1,afternoon,Saturday
1,C,Naypyitaw,Normal,Female,Electronic accessories,120330.00,Cash,9.6,morning,Friday
2,A,Yangon,Normal,Male,Home and lifestyle,510788.25,Credit card,7.4,afternoon,Sunday
3,A,Yangon,Member,Male,Health and beauty,733572.00,Ewallet,8.4,evening,Sunday
4,A,Yangon,Normal,Male,Sports and travel,951567.75,Ewallet,5.3,morning,Friday
...,...,...,...,...,...,...,...,...,...,...
695,A,Yangon,Member,Female,Home and lifestyle,688038.75,Cash,6.6,evening,Tuesday
696,A,Yangon,Member,Female,Sports and travel,170352.00,Ewallet,6.9,evening,Tuesday
697,B,Mandalay,Normal,Male,Home and lifestyle,391797.00,Ewallet,4.3,evening,Sunday
698,A,Yangon,Member,Male,Electronic accessories,986296.50,Credit card,7.8,evening,Tuesday
699,C,Naypyitaw,Normal,Male,Home and lifestyle,1535625.00,Ewallet,8.0,evening,Saturday

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   branch          700 non-null    object
 1   city            700 non-null    object
 2   customer_type   700 non-null    object
 3   gender          700 non-null    object
 4   product_line    700 non-null    object
 5   total           700 non-null    float64
 6   payment_method  700 non-null    object
 7   rating          700 non-null    float64
 8   time_of_day     700 non-null    object
 9   day_name        700 non-null    object
dtypes: float64(2), object(8)
memory usage: 54.8+ KB

In [3]:
train.isnull().sum()

branch            0
city              0
customer_type     0
gender            0
product_line      0
total             0
payment_method    0
rating            0
time_of_day       0
day_name          0
dtype: int64

In [4]:
train.describe(include='O')

,branch,city,customer_type,gender,product_line,payment_method,time_of_day,day_name
count,700,700,700,700,700,700,700,700
unique,3,3,2,2,6,3,3,7
top,A,Yangon,Normal,Male,Sports and travel,Cash,evening,Saturday
freq,236,236,354,356,127,246,309,114

In [5]:
test.describe(include='O')

,branch,city,customer_type,gender,product_line,payment_method,time_of_day,day_name
count,300,300,300,300,300,300,300,300
unique,3,3,2,2,6,3,3,7
top,A,Yangon,Member,Female,Electronic accessories,Ewallet,evening,Saturday
freq,104,104,155,157,58,110,123,50

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   branch          300 non-null    object
 1   city            300 non-null    object
 2   customer_type   300 non-null    object
 3   gender          300 non-null    object
 4   product_line    300 non-null    object
 5   payment_method  300 non-null    object
 6   rating          300 non-null    float64
 7   time_of_day     300 non-null    object
 8   day_name        300 non-null    object
dtypes: float64(1), object(8)
memory usage: 21.2+ KB

In [7]:
test.isnull().sum()

branch            0
city              0
customer_type     0
gender            0
product_line      0
payment_method    0
rating            0
time_of_day       0
day_name          0
dtype: int64

In [8]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [9]:
train

,total,rating,branch_A,branch_B,branch_C,city_Mandalay,city_Naypyitaw,city_Yangon,customer_type_Member,customer_type_Normal,...,time_of_day_afternoon,time_of_day_evening,time_of_day_morning,day_name_Friday,day_name_Monday,day_name_Saturday,day_name_Sunday,day_name_Thursday,day_name_Tuesday,day_name_Wednesday
0,823457.25,9.1,True,False,False,False,False,True,True,False,...,True,False,False,False,False,True,False,False,False,False
1,120330.00,9.6,False,False,True,False,True,False,False,True,...,False,False,True,True,False,False,False,False,False,False
2,510788.25,7.4,True,False,False,False,False,True,False,True,...,True,False,False,False,False,False,True,False,False,False
3,733572.00,8.4,True,False,False,False,False,True,True,False,...,False,True,False,False,False,False,True,False,False,False
4,951567.75,5.3,True,False,False,False,False,True,False,True,...,False,False,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,688038.75,6.6,True,False,False,False,False,True,True,False,...,False,True,False,False,False,False,False,False,True,False
696,170352.00,6.9,True,False,False,False,False,True,True,False,...,False,True,False,False,False,False,False,False,True,False
697,391797.00,4.3,False,True,False,True,False,False,False,True,...,False,True,False,False,False,False,True,False,False,False
698,986296.50,7.8,True,False,False,False,False,True,True,False,...,False,True,False,False,False,False,False,False,True,False
699,1535625.00,8.0,False,False,True,False,True,False,False,True,...,False,True,False,False,False,True,False,False,False,False

In [10]:
from sklearn.model_selection import train_test_split

target = train.pop('total')

X_train, X_val, y_train, y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((560, 30), (140, 30), (560,), (140,))

In [11]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(random_state=0)
rf.fit(X_train, y_train)
pred = rf.predict(X_val)
pred

array([578015.7075, 441304.605 , 595106.82  , 479212.965 , 504032.76  ,
       441557.865 , 438600.1725, 573276.8475, 511595.28  , 486598.9275,
       508753.5075, 280639.17  , 486614.6775, 670939.4475, 480645.585 ,
       454081.005 , 523201.455 , 476482.23  , 518441.805 , 712885.95  ,
       514303.65  , 495290.0925, 369141.4125, 524059.0425, 473247.3375,
       409061.835 , 541454.76  , 523243.8225, 314446.3875, 370542.2175,
       470000.475 , 549599.085 , 345262.8375, 648061.3125, 268176.6675,
       423892.8225, 552024.585 , 418913.775 , 757715.0175, 510688.2375,
       364065.03  , 624786.5925, 313889.1525, 554294.16  , 583060.59  ,
       329128.5375, 388867.9725, 644019.075 , 724540.95  , 464313.6225,
       631947.4875, 521991.54  , 505536.885 , 372375.045 , 429347.9925,
       762879.285 , 443767.7475, 402661.665 , 609429.555 , 480135.4425,
       631935.8325, 548255.61  , 601608.5775, 383067.09  , 652776.705 ,
       426696.0075, 724326.5925, 729016.3125, 437051.16  , 477410.22  ,
       519389.64  , 557246.34  , 351084.825 , 587287.575 , 776310.7275,
       624286.53  , 566832.8925, 429683.7825, 446955.8625, 392457.87  ,
       361761.12  , 290076.255 , 482706.945 , 693918.54  , 392681.3625,
       423266.2875, 665327.25  , 798656.8275, 554827.9275, 704361.105 ,
       443667.735 , 682999.5375, 501318.09  , 464065.875 , 512130.9375,
       569297.4525, 489057.8175, 398938.68  , 596657.7225, 449144.4825,
       433388.8125, 502102.44  , 544535.3025, 625114.665 , 556189.2   ,
       752322.8475, 638419.32  , 634609.08  , 388050.705 , 427551.075 ,
       437613.435 , 419301.225 , 411014.0475, 335523.51  , 614160.0675,
       327005.91  , 632645.2125, 565818.5925, 595973.2275, 598571.6625,
       681620.1525, 430061.94  , 400143.7125, 482135.6925, 427245.84  ,
       446484.9375, 388320.8175, 481023.9   , 501466.2975, 808093.5975,
       845528.1975, 315137.655 , 424087.1775, 421888.1625, 470392.965 ,
       449529.57  , 422273.25  , 611298.9225, 415341.675 , 451447.1325])

In [12]:
from sklearn.metrics import root_mean_squared_error

root_mean_squared_error(pred, y_val)

385935.56337360526

In [13]:
pred = rf.predict(test)
pred.shape

(300,)

In [14]:
df = pd.DataFrame({
    'pred' : pred
})

df.to_csv('result.csv', index=False)

In [ ]:
import pandas as pd 

train = pd.read_csv('churn_train.csv')
test = pd.read_csv('churn_test.csv')

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        4116 non-null   object
 1   gender            4116 non-null   object
 2   SeniorCitizen     4116 non-null   int64
 3   Partner           4116 non-null   object
 4   Dependents        4116 non-null   object
 5   tenure            4116 non-null   int64
 6   PhoneService      4116 non-null   object
 7   MultipleLines     4116 non-null   object
 8   InternetService   4116 non-null   object
 9   OnlineSecurity    4116 non-null   object
 10  OnlineBackup      4116 non-null   object
 11  DeviceProtection  4116 non-null   object
 12  TechSupport       4116 non-null   object
 13  StreamingTV       4116 non-null   object
 14  StreamingMovies   4116 non-null   object
 15  Contract          4116 non-null   object
 16  PaperlessBilling  4116 non-null   object
 17  PaymentMethod     4116 non-null   object
 18  TotalCharges      4116 non-null   float64
dtypes: float64(1), int64(2), object(16)
memory usage: 611.1+ KB

In [17]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        1764 non-null   object
 1   gender            1764 non-null   object
 2   SeniorCitizen     1764 non-null   int64
 3   Partner           1764 non-null   object
 4   Dependents        1764 non-null   object
 5   tenure            1764 non-null   int64
 6   PhoneService      1764 non-null   object
 7   MultipleLines     1764 non-null   object
 8   InternetService   1764 non-null   object
 9   OnlineSecurity    1764 non-null   object
 10  OnlineBackup      1764 non-null   object
 11  DeviceProtection  1764 non-null   object
 12  TechSupport       1764 non-null   object
 13  StreamingTV       1764 non-null   object
 14  StreamingMovies   1764 non-null   object
 15  Contract          1764 non-null   object
 16  PaperlessBilling  1764 non-null   object
 17  PaymentMethod     1764 non-null   object
dtypes: int64(2), object(16)
memory usage: 248.2+ KB

In [18]:
train.describe(include='O')

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
count,4116,4116,4116,4116,4116,4116,4116,4116,4116,4116,4116,4116,4116,4116,4116,4116
unique,4116,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4
top,CUST0454,Female,Yes,No,No,No phone service,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Electronic check
freq,1,2063,2099,2153,2080,2080,1422,1422,1422,1422,1422,1422,1422,1386,2090,1054

In [19]:
test.describe(include='O')

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
count,1764,1764,1764,1764,1764,1764,1764,1764,1764,1764,1764,1764,1764,1764,1764,1764
unique,1764,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4
top,CUST0769,Male,Yes,Yes,Yes,No phone service,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Credit card
freq,1,897,896,913,905,859,607,611,607,607,607,607,607,634,900,464

In [21]:
target = train.pop('TotalCharges')
target

0        163.45
1       4140.89
2       5152.36
3       5251.84
4        725.69
         ...
4111    3201.24
4112    1124.31
4113    1492.70
4114    1296.96
4115     743.92
Name: TotalCharges, Length: 4116, dtype: float64

In [22]:
train.pop('customerID')
test.pop('customerID')

0       CUST0769
1       CUST0675
2       CUST0210
3       CUST3795
4       CUST1829
          ...
1759    CUST4159
1760    CUST1431
1761    CUST1309
1762    CUST5334
1763    CUST0783
Name: customerID, Length: 1764, dtype: object

In [23]:
train.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,Male,0,No,No,7,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Electronic check
1,Female,1,No,Yes,53,No,No phone service,Fiber optic,Yes,Yes,No,Yes,Yes,Yes,Month-to-month,No,Credit card
2,Female,1,No,Yes,68,No,No phone service,DSL,Yes,Yes,Yes,No,No,Yes,Month-to-month,No,Mailed check
3,Male,1,No,Yes,44,No,No phone service,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Credit card
4,Male,0,Yes,No,7,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,No,One year,No,Electronic check

In [24]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)

In [26]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train, y_train)
pred = rf.predict(X_val)
pred

array([3508.3898    , 3857.6891    , 3943.4495    , 3756.6806    ,
       3446.3054    , 2124.8301    , 3949.8131    , 2069.2327    ,
       3198.6325    , 3745.8312    , 2561.47955   , 3211.2024    ,
       1935.2319    ,  266.7868    ,  505.059     , 5245.761     ,
       3685.8598    , 1351.1811    , 3013.0059    ,  735.7541    ,
       2423.2096    , 4449.4651    , 4822.2863    , 3870.2341    ,
       3852.5665    , 3058.8407    , 5966.0219    , 3987.2452    ,
       3960.2558    ,  661.919     , 2268.3439    , 4980.8296    ,
       2149.0153    , 3313.9593    , 3115.2434    , 3206.8865    ,
       4368.2021    , 4912.7258    , 1099.3993    , 3557.3183    ,
       4776.7747    ,   54.1166    , 2429.2791    , 1009.8398    ,
       4639.7153    , 1636.1182    , 2271.4014    , 2401.6725    ,
       3511.1343    , 3153.1293    , 2990.8499    , 2890.1384    ,
        761.0871    , 2481.9836    , 3621.0503    ,  490.9979    ,
       4186.603     , 1173.8081    ,   60.8728    ,  743.8718    ,
        853.7979    ,  519.9887    , 4625.2383    ,  731.6074    ,
       1738.541     , 4339.440225  , 5310.0717    , 4255.1869    ,
       2575.4411    , 3847.9289    ,  800.5796    , 2574.8782    ,
       3752.6083    ,  441.1387    , 2824.1075    , 2266.3538    ,
       2339.798     ,  476.3628    , 3200.7904    , 1255.0203    ,
        606.1782    , 1254.1388    ,  489.6453    , 2936.3692    ,
       1399.0295    , 1858.9007    , 3702.1984    , 3893.0242    ,
       3015.98      , 3921.2161    , 4251.3566    ,  245.549     ,
        553.8882    , 4723.1242    , 4342.1045    , 3888.0737    ,
       3315.2867    , 2489.4958    , 3902.3011    , 2947.4527    ,
       2732.3442    ,  668.1145    , 2725.9939    , 4204.1036    ,
       4805.1907    , 4787.3221    , 3528.9976    , 4106.6583    ,
        493.3566    , 2145.304     , 3310.5204    ,  591.0799    ,
       3569.5618    ,  977.1803    , 2441.7158    , 3035.458     ,
       3994.1566    , 4007.3929    , 3264.8685    ,  483.756     ,
       3866.1958    , 3438.318     ,  444.7284    , 1446.4598    ,
       2841.9453    , 3395.7254    , 1122.6601    ,  643.6681    ,
       2079.48625   , 2379.927     , 3478.9664    , 4703.3717    ,
       2427.3899    , 3394.6796    , 3127.6617    ,  146.999     ,
       1574.8376    , 6166.5684    , 1504.4789    , 2422.6824    ,
       3581.0408    , 1611.5651    , 3443.4045    , 2409.9851    ,
       3153.3754    ,  332.8829    , 1004.7067    , 3344.256     ,
       3132.0205    , 1972.4566    , 2379.7825    ,  481.0714    ,
       2410.1748    , 4039.8051    , 1187.5891    ,  321.9721    ,
       3666.7473    , 1195.9047    , 4951.3087    , 3539.6976    ,
       2460.6117    , 2002.8983    , 4751.2522    , 1655.6954    ,
       4346.7594    , 2155.0616    , 2506.379     , 3015.7212    ,
       5339.8516    , 2511.6175    ,  853.1383    ,   75.4606    ,
       4996.88856667, 1098.636     ,  168.105     , 4471.9399    ,
       1129.3058    , 3927.7772    , 2294.8814    , 1202.5285    ,
       4632.9858    , 4176.057     , 4524.8569    ,  859.8075    ,
       1273.4692    , 4459.076     ,  996.1379    ,  220.7171    ,
        358.0287    , 2837.752     , 4096.1947    , 2478.7586    ,
       3068.7814    , 2828.175     , 2367.7136    , 4589.2967    ,
       3273.2045    , 1088.2052    , 4844.5893    ,   66.784     ,
       1162.6951    ,  163.21666   , 4884.7112    , 1120.3235    ,
       4167.7248    , 1420.4978    ,  226.6908    , 4247.70625   ,
       4898.9934    ,  378.1903    , 3657.978     ,  681.2628    ,
       2540.1316    ,  933.5003    , 1644.5646    , 2118.1295    ,
       4425.9874    , 3780.6598    ,  558.1606    , 4447.9379    ,
       4525.9762    ,  462.9297    , 3938.8356    , 1035.2647    ,
       1925.79901   , 4207.266     , 5379.4677    , 2797.1299    ,
       2982.0593    ,  634.2002    , 2929.0283    , 4543.4588    ,
        804.6111    , 1247.9366    , 3430.4818    ,  797.0155    ,
       1315.4909    , 2268.86185   , 3139.6147    , 3183.2476    ,
       1196.9127    , 3785.3647    , 1229.3692    , 2345.6052    ,
        608.4633    , 1520.4457    , 1160.3564    , 2094.847     ,
        958.4478    ,  303.4131    ,  381.0297    , 4299.7454    ,
       5850.7556    , 1726.2022    , 4447.6204    , 2282.1036    ,
       1085.1117    , 3773.1973    , 2542.2211    , 3186.2246    ,
         63.4057    , 1343.6506    , 2980.4348    ,  673.6405    ,
       2734.2212    , 2269.6226    ,  640.0134    , 2186.8677    ,
       4019.2814    , 3797.6111    , 2580.3356    , 5479.9678    ,
       1671.4077    , 2175.6061    , 2877.2697    ,  537.4391    ,
       1011.8597    ,  585.8188    , 2293.8086    ,   45.2427    ,
       5300.2827    , 5122.1529    , 2940.0156    , 3725.3425    ,
       3686.2362    , 2205.6032    , 2210.22065   , 2347.8366    ,
       3051.153     , 2640.2973    , 2672.8591    , 1994.7752    ,
       2878.8691    ,  790.7801    , 4156.1052    , 1886.8316    ,
       3107.4938    , 3648.2172    ,  857.0648    , 3573.0641    ,
       2442.1831    ,  400.9695    , 2874.3957    ,  157.9274    ,
       2472.5286    , 1114.7179    , 2198.9992    , 1708.1364    ,
       2839.841     , 4244.4873    , 4037.5814    , 3818.2043    ,
       1418.1369    , 3560.5812    , 1680.7284    , 2100.7833    ,
       3180.3421    ,  787.9739    , 3430.1629    , 1587.7664    ,
        999.8449    ,  597.2679    , 2676.9714    , 4858.8929    ,
       4334.5335    , 1524.9042    , 1364.4522    , 1630.5563    ,
       1427.78      , 1652.8194    , 2981.7336    , 3576.9883    ,
       2461.5573    , 3567.4108    , 4735.6988    , 1122.2962    ,
       1128.9279    ,  170.64024667, 3339.2485    , 4664.4084    ,
       2125.5584    , 4174.8999    ,  111.5721    , 3306.7005    ,
       2421.4244    , 2240.4414    , 3973.4158    , 1760.7078    ,
        884.2566    , 2218.2948    , 1811.9149    , 1826.83181   ,
       2658.9715    , 4818.4748    , 5738.229     , 3849.1483    ,
       1094.2197    , 2826.9242    , 1992.9101    , 2462.1719    ,
       1465.7629    , 4442.10485   , 3080.9835    , 1558.325     ,
       3412.7594    ,  729.8055    , 3657.285     , 3063.0439    ,
       6057.6866    , 3303.708     , 4349.7743    , 4637.8616    ,
       2942.3612    , 2007.1384    , 3456.6681    , 3480.1181    ,
        768.1294    , 4386.7674    , 4832.5554    , 1952.3863    ,
       3771.0228    ,  722.4682    , 2632.6826    , 3098.9037    ,
       3610.1352    , 1654.9862    ,  759.1285    , 1947.06364   ,
        984.6973    , 3337.0241    , 1068.5322    , 4393.6933    ,
        913.5959    , 3585.29205   , 4631.4409    , 3363.9311    ,
       1774.9947    ,  883.6047    , 1803.8583    , 2476.0858    ,
       3933.4356    , 3667.1546    , 4708.9055    , 4999.722     ,
       5220.0098    , 3578.8663    , 1998.7408    ,  572.6683    ,
       2517.46795   , 4309.565     , 2293.4962    , 2919.8292    ,
       1933.9238    , 1474.2469    , 2868.4456    ,  433.2916    ,
       2953.9319    , 2671.6744    , 5644.0808    , 3107.3048    ,
       2275.951     , 3351.7131    , 4042.4792    , 3377.4298    ,
        573.673     , 4885.204     , 2047.3703    , 4874.72795   ,
       2501.2684    , 1305.6241    ,  270.4487    , 3484.56      ,
       4357.1752    , 4811.3767    , 5097.4695    , 2469.1842    ,
       4479.4323    , 2797.54015   , 2744.718     , 4415.19436667,
       3470.533     , 1597.716     , 2709.9899    , 1121.56843333,
       1190.0424    , 1182.5511    , 2213.3264    , 1034.2924    ,
       3143.3282    , 4171.8823    , 3327.7644    , 3056.1142    ,
       2407.5406    , 1090.5912    , 2364.9521    , 2979.4598    ,
       2401.7528    , 4056.9358    ,  263.2648    , 2839.1156    ,
       5567.4969    , 3047.7262    ,  452.8856    , 1438.4039    ,
       3074.1083    , 5312.4059    , 1785.0018    , 4487.6254    ,
       3224.6351    , 1243.2088    , 2448.7481    , 2259.1599    ,
        839.2766    , 2164.8548    , 3897.3681    , 6230.919     ,
       3176.2243    , 3725.5755    , 1787.7234    , 5135.7942    ,
       3485.6147    , 2527.8929    ,  128.2612    , 3582.1943    ,
       1189.1788    ,  575.3237    , 1968.02245   , 2054.5987    ,
        607.5535    , 3001.0168    , 1133.4106    , 4894.9238    ,
       4397.0641    , 3056.5949    , 4094.4856    ,  287.9965    ,
       4474.1228    , 2298.8392    ,  720.3017    , 3567.4742    ,
       1433.5663    , 5994.983     ,  938.8753    , 2254.1091    ,
       1749.8626    ,  753.604     , 1505.2273    , 3373.2498    ,
       2404.9844    ,  538.3121    ,   61.7891    , 2614.5004    ,
       1683.6212    , 3660.0143    , 1378.991     , 4243.2008    ,
        524.7678    ,  307.2208    ,  988.6173    ,   67.2093    ,
       5019.6863    , 5423.7739    , 2886.3639    , 1122.4976    ,
       3991.1545    ,  700.4777    , 1238.4582    , 4822.4497    ,
       4132.1869    , 5122.4951    , 1564.52665   , 3423.846     ,
       1193.2238    ,  353.8771    , 4849.4778    , 4027.0575    ,
       5505.3919    ,  860.4981    , 1153.3713    ,  936.0859    ,
        644.0477    , 1985.013     , 2451.5474    , 4017.2305    ,
       3029.6681    ,  429.0327    , 1998.9128    , 3595.0956    ,
        125.4154    , 1408.8688    , 4993.8045    ,  305.4375    ,
        701.6171    , 3904.0684    ,  210.324     , 3170.6822    ,
       2692.9442    , 3764.7692    , 1748.2952    , 4687.8632    ,
       4065.4863    , 3846.3417    ,  853.6653    , 2463.412     ,
        298.7282    , 3345.3435    , 3431.5117    , 1374.0792    ,
       3735.1978    , 1220.9585    , 1024.8891    , 1991.03785   ,
       2618.321     , 1769.8914    ,  245.2976    ,  647.907     ,
       1708.799     , 2692.7749    , 1441.0365    , 4433.1721    ,
       3157.3572    , 3782.7767    , 3827.5691    , 4096.5963    ,
       3859.9682    , 5975.9502    , 4842.1768    , 3977.2703    ,
       4828.313     , 5008.2941    , 3359.4639    , 3946.8947    ,
       3002.5495    , 3332.5871    , 5432.2664    , 2191.2373    ,
       2909.2977    , 1711.3485    , 3847.8222    , 4347.6666    ,
       3264.0661    , 1873.7783    , 1868.06805   , 3397.1305    ,
       1999.8374    , 4632.8719    ,  474.367     , 2050.1898    ,
        719.6924    , 1222.1795    , 3448.8819    ,  971.5455    ,
       2396.2319    , 4883.3633    , 1796.6415    , 2096.6212    ,
       4720.1627    , 2924.1675    , 3086.1073    ,  437.8186    ,
       5576.1856    ,  717.9492    , 2093.6637    , 1373.0824    ,
       3308.826     , 2474.4952    , 3459.9138    ,  347.9487    ,
        919.9361    , 3632.7389    ,  690.2191    , 4717.7485    ,
        837.3825    , 2647.6561    , 1749.6985    , 4033.0667    ,
       2807.104     , 3328.9381    ,  964.1366    , 2881.9208    ,
       2909.2252    , 4309.1392    , 1616.1757    , 3660.4187    ,
       2125.3454    , 1301.1689    ,   73.3618    , 3628.2613    ,
        546.3916    , 1638.01765   , 1115.3313    , 4155.8298    ,
       1357.2968    , 3362.0937    ,  552.3479    , 5227.6925    ,
       3474.6801    ,  239.2197    , 5186.1675    , 1812.3848    ,
       2499.4782    , 3440.6713    ,  523.8347    , 2130.3261    ,
       4388.4192    ,   66.7376    , 2324.8274    , 1145.1447    ,
       1725.6973    , 1085.8016    , 1620.8356    , 5429.5922    ,
       4717.3495    , 2070.404     ,  749.9157    , 3733.7773    ,
       2435.3992    , 2504.728     , 2889.8186    , 1167.9785    ,
       4218.6718    , 3584.2975    , 1530.431     , 3407.5616    ,
       1535.6485    ,  233.88735   , 3469.3519    , 2705.0375    ,
       2079.2715    , 2732.3302    , 5076.8866    , 2698.207     ,
       5877.0567    , 3865.0558    , 1947.6313    ,  132.449     ,
       4297.3242    , 1299.3196    , 4005.6111    , 3510.4066    ,
       3178.1466    , 3387.863     , 3119.536175  , 2762.6041    ,
        593.7649    , 1200.6418    ,  123.9778    , 2190.52963   ,
       3340.9633    , 3858.9044    ,  971.1239    , 1033.1362    ,
       3409.7628    , 1515.1294    ,  670.5197    ,  897.9302    ,
       1005.2965    , 2055.4576    , 1062.4643    ,   63.7067    ,
       2020.4573    ,  541.0044    ,  556.6589    , 4718.2939    ,
       2058.1939    , 2550.59746   , 2509.1005    , 2601.0073    ,
       4694.981     , 5291.0001    ,  417.0211    , 3102.1466    ,
       2411.422     ,   60.9951    , 2390.0164    ,  930.2899    ,
       3573.4566    , 3383.6158    , 2172.0795    , 4269.1371    ,
       2666.0518    , 2493.3815    , 3240.7499    , 1115.2513    ,
        194.9056    , 1592.603     , 3951.7734    , 3209.3745    ,
       2480.4172    , 5667.1087    , 2837.5865    , 3979.0031    ,
       4042.4792    , 2834.3213    , 4177.88      ,  284.5198    ,
        551.6925    , 1871.8727    , 3739.1821    , 1211.2507    ,
        100.1327    , 4729.8032    , 5558.213     , 3683.0597    ,
       3916.2791    , 4434.3844    , 4346.2418    , 4514.1887    ,
       3867.4586    , 2604.912     , 2616.6077    , 2672.6862    ,
       1941.3759    , 2673.4674    , 4755.4941    , 1332.9302    ,
       1400.4908    , 3502.8213    ,  928.9006    , 2123.2275    ,
       4812.6129    ,  419.54815   , 4357.8308    , 3751.7661    ,
       4111.586     ,  593.6772    , 3878.222     , 3546.3725    ,
       1123.0067    , 4032.3261    ,  966.6042    , 2172.1353    ,
       1552.87      , 4814.5081    ,  233.8383    , 4120.9337    ,
       2535.3398    ,  289.0278    , 2273.2229    , 2968.4618    ,
       1309.9041    , 6105.349315  , 4552.2038    ,  405.7891    ,
       1547.8951    , 1456.028     , 1689.6587    , 3298.9173    ,
       3652.3652    , 2563.8392    , 4048.9906    , 3500.11663333,
       5165.3299    , 6767.1182    , 2604.8804    ,  287.9797    ,
        577.7388    ,  330.0551    , 2319.069     , 3523.6981    ,
       3694.2744    , 3657.9147    , 1185.7611    , 4022.7452    ])

In [29]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(pred, y_val)

950.3435192131878

In [28]:
from sklearn.metrics import r2_score

r2_score(pred, y_val)

0.28761437273658774

In [33]:
pred = rf.predict(test)
pd.DataFrame({
    'pred' : pred
}).to_csv('result.csv', index=False)

In [34]:
import pandas as pd 

train = pd.read_csv('farm_train.csv')
test = pd.read_csv('farm_test.csv')

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   농업면적    4000 non-null   float64
 1   연도      4000 non-null   int64
 2   지역      4000 non-null   object
 3   비료사용량   4000 non-null   float64
 4   비료잔여량   4000 non-null   float64
 5   작물종류    4000 non-null   object
 6   토양유형    4000 non-null   object
 7   농약검출여부  4000 non-null   int64
 8   등급      4000 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 281.4+ KB

In [36]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   농업면적    1000 non-null   float64
 1   연도      1000 non-null   int64
 2   지역      1000 non-null   object
 3   비료사용량   1000 non-null   float64
 4   비료잔여량   1000 non-null   float64
 5   작물종류    1000 non-null   object
 6   토양유형    1000 non-null   object
 7   등급      1000 non-null   object
dtypes: float64(3), int64(1), object(4)
memory usage: 62.6+ KB

In [37]:
train.describe(include='O')

          지역  작물종류  토양유형    등급
count   4000  4000  4000  4000
unique    15     3     3     3
top       전북    보리    양토     A
freq     302  1374  1357  1364

In [38]:
test.describe(include='O')

          지역  작물종류  토양유형    등급
count   1000  1000  1000  1000
unique    15     3     3     3
top       대전     쌀    양토     A
freq      84   352   347   336

In [39]:
target = train.pop('농약검출여부')
target

0       2
1       0
2       0
3       0
4       1
       ..
3995    2
3996    0
3997    0
3998    2
3999    2
Name: 농약검출여부, Length: 4000, dtype: int64

In [40]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

cols = ['지역', '작물종류', '토양유형', '등급']

for col in cols:
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])
    
train

              농업면적    연도  지역       비료사용량         비료잔여량  작물종류  토양유형  등급
0     20079.652837  2004   3  407.985516    146.290507     1     2   2
1     73858.643204  2012   8  221.229692   1967.333638     0     2   1
2     65718.150861  2012   0  370.967205   2253.522610     2     2   1
3     37366.182902  2005   2  274.128236   1487.535265     2     1   1
4     81515.151289  2007  13  213.410655    683.306745     2     1   1
...            ...   ...  ..         ...           ...   ...   ...  ..
3995  44694.802107  2003   4  393.291895    244.165391     1     1   2
3996  33128.645424  2017   8  320.015330  30696.978909     1     1   0
3997   1471.231928  2010   8  288.900758   5209.895639     0     0   0
3998  98663.569901  2020   2  506.057309   1321.613918     1     2   1
3999   7774.163552  2013   3  212.869117    359.236453     0     2   2

[4000 rows x 8 columns]

In [41]:
from sklearn.ensemble import RandomForestClassifier 

rf = RandomForestClassifier()
rf.fit(train, target)
pred = rf.predict(test)
pred

array([2, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 1, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0,
       2, 2, 0, 0, 2, 2, 2, 0, 2, 0, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       0, 0, 0, 0, 1, 2, 1, 2, 2, 0, 2, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 2,
       2, 0, 0, 2, 2, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 0, 0, 0, 2, 1, 2,
       2, 2, 0, 0, 2, 0, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 0, 0, 0, 2, 0, 0,
       0, 0, 2, 2, 2, 2, 0, 0, 0, 2, 0, 1, 2, 0, 0, 0, 0, 2, 2, 0, 0, 2,
       0, 2, 0, 1, 2, 2, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 1, 1, 2, 0,
       0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0,
       2, 2, 2, 2, 0, 2, 2, 0, 0, 2, 0, 2, 0, 0, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 2, 2, 2, 0, 2, 0, 2, 0, 2, 0,
       2, 2, 2, 2, 0, 0, 2, 2, 2, 0, 2, 0, 2, 0, 2, 0, 1, 2, 2, 2, 2, 0,
       2, 2, 2, 2, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 2, 2, 2, 0,
       2, 0, 0, 2, 0, 0, 2, 2, 0, 1, 2, 2, 0, 2, 0, 2, 2, 0, 2, 0, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 1, 0,
       2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 0, 0, 0, 0,
       0, 1, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, 2, 2, 0, 0, 0, 2, 2, 0, 0,
       2, 2, 2, 0, 0, 2, 0, 0, 2, 2, 2, 0, 0, 2, 1, 2, 0, 2, 0, 0, 0, 0,
       0, 0, 2, 2, 0, 0, 0, 0, 0, 2, 1, 1, 1, 0, 0, 2, 0, 2, 2, 0, 0, 0,
       2, 2, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 2, 1, 0, 2, 0, 2, 0, 2, 0, 2,
       1, 2, 0, 2, 2, 0, 0, 0, 0, 0, 2, 0, 0, 2, 2, 0, 0, 0, 2, 0, 1, 0,
       1, 2, 2, 0, 2, 1, 2, 2, 0, 2, 0, 0, 0, 0, 2, 0, 2, 2, 0, 2, 2, 0,
       2, 0, 2, 2, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 1,
       2, 1, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 2, 2, 0,
       0, 0, 2, 0, 2, 0, 0, 1, 2, 0, 2, 2, 0, 2, 2, 1, 2, 2, 2, 0, 2, 2,
       2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 2, 0, 2, 2, 0, 1, 2, 2, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 1, 2, 2, 0, 2, 1, 2, 0, 2, 0, 2, 2,
       2, 0, 0, 0, 2, 0, 0, 2, 0, 0, 2, 2, 0, 0, 1, 2, 2, 2, 2, 2, 1, 2,
       2, 0, 2, 2, 0, 1, 2, 0, 1, 2, 2, 0, 0, 0, 0, 2, 2, 0, 2, 2, 2, 0,
       2, 2, 0, 2, 0, 0, 2, 1, 0, 0, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 0, 2, 2, 0, 2, 2, 2,
       0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 2, 2, 0, 0, 1, 0, 0, 2, 0,
       0, 2, 2, 0, 0, 0, 2, 0, 2, 2, 0, 2, 0, 0, 2, 2, 0, 2, 0, 2, 1, 2,
       2, 2, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2,
       0, 0, 0, 2, 2, 0, 2, 2, 0, 2, 0, 2, 0, 0, 2, 1, 2, 2, 2, 1, 2, 2,
       2, 1, 0, 2, 0, 2, 2, 2, 2, 2, 2, 0, 0, 1, 2, 0, 2, 0, 0, 0, 1, 1,
       0, 0, 0, 2, 2, 2, 0, 0, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2,
       0, 0, 2, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 0, 2, 0,
       0, 2, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 0, 0, 0, 0, 2, 2, 2, 0, 0,
       2, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 2, 0, 2, 2, 2, 2, 2,
       0, 0, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 0, 0, 2, 0, 0, 0, 0, 1, 0, 2,
       0, 2, 2, 0, 0, 2, 2, 2, 0, 0, 2, 2, 1, 2, 2, 2, 0, 2, 2, 0, 0, 0,
       2, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 2, 0, 0, 2, 1, 0, 2,
       2, 2, 1, 2, 0, 2, 0, 0, 0, 2, 2, 0, 1, 2, 0, 0, 2, 0, 0, 0, 2, 2,
       0, 2, 0, 2, 0, 0, 0, 2, 0, 2, 2, 0, 2, 2, 2, 1, 2, 2, 2, 0, 0, 0,
       2, 2, 2, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2,
       0, 0, 2, 2, 0, 2, 2, 2, 2, 0])

In [42]:
pd.DataFrame({
    'pred' : pred
}).to_csv('result.csv', index=False)