# 인코딩

In [ ]:
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p2/ch2/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p2/ch2/test.csv')

In [19]:
target = train.pop('income')
target

0         >50K
1        <=50K
2        <=50K
3         >50K
4        <=50K
         ...
29299    <=50K
29300    <=50K
29301    <=50K
29302    <=50K
29303    <=50K
Name: income, Length: 29304, dtype: object

# 원핫인코딩(유니크한 값들을 별도의 컬럼으로 분리 - T/F)

In [22]:
train_oh = pd.get_dummies(train)
test_oh = pd.get_dummies(test)

# y값 외에도 unique 값이 다른 상황
print(train.shape, train_oh.shape, test.shape, test_oh.shape)

(29304, 15) (29304, 106) (3257, 15) (3257, 102)

In [23]:
total_data = pd.concat([train, test], axis=0)
total_data.shape

data_oh = pd.get_dummies(total_data)

train_oh = data_oh.iloc[:len(train)]
test_oh = data_oh.iloc[len(train):]

print(train.shape, train_oh.shape, test.shape, test_oh.shape)

(29304, 15) (29304, 106) (3257, 15) (3257, 106)

In [24]:
test_oh.head()

,id,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native.country_Portugal,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia
0,11574,39.0,114055,13,0,0,40.0,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,15847,38.0,254114,10,0,0,40.0,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,17655,44.0,55395,9,0,0,NaN,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,19790,47.0,28035,13,0,0,50.0,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,31812,62.0,186611,9,0,0,40.0,False,False,False,...,False,False,False,False,False,False,False,True,False,False

# 레이블 인코딩(각 유니크 값에 0,1,2...등으로 값을 할당)

In [ ]:
cols = train.select_dtypes(include='object').columns
cols = train.columns[train.dtypes == object]
# 기억 안나면 그냥 df.info()로 확인 해서 object 리스트화 - cols = ['workclass', 'education', ...]
cols

Index([], dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder

for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])
    
train.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,3331,34.0,6,177331,15,10,2,9,0,2,1,4386,0,40.0,38
1,19749,58.0,3,290661,11,9,2,2,0,4,1,0,0,40.0,38
2,1157,48.0,3,125933,15,10,6,3,4,2,0,0,1669,38.0,38
3,693,58.0,3,100313,15,10,2,10,0,4,1,0,1902,40.0,38
4,12522,41.0,3,195661,15,10,2,13,0,4,1,0,0,54.0,38