# Basic

In [1]:
import pandas as pd

In [2]:
color = pd.Series(['빨강', '파랑', '노랑'])
color

0    빨강
1    파랑
2    노랑
dtype: object

In [3]:
price = pd.Series([1000, 2000, 3000])
price

0    1000
1    2000
2    3000
dtype: int64

In [27]:
tone = pd.Series([10, 20, 30])
tone

0    10
1    20
2    30
dtype: int64

In [28]:
df = pd.DataFrame({
    '색상' : color,
    '가격' : price,
    '톤' : tone
})

df

   색상    가격   톤
0  빨강  1000  10
1  파랑  2000  20
2  노랑  3000  30

In [ ]:
# Series 형태로 선택하는 경우 []
type(df['색상'])

pandas.core.series.Series

In [ ]:
# DataFrame 형태로 선택하는 경우
type(df)

pandas.core.frame.DataFrame

In [ ]:
# DataFrame 형태로 선택하는 경우 [[]]
type(df[['색상']])

pandas.core.frame.DataFrame

In [12]:
# DataFrame 형태로 선택하는 경우 [[]]
type(df[['색상', '가격']])

pandas.core.frame.DataFrame

In [29]:
df.to_csv('test.csv', index=False) # index = False 하지 않으면 index를 별도의 컬럼으로 또 저장함(Unnamed)

In [30]:
df2 = pd.read_csv('test.csv')
df2.head() # 앞부터

   색상    가격   톤
0  빨강  1000  10
1  파랑  2000  20
2  노랑  3000  30

In [31]:
df.tail(2) # 마지막

   색상    가격   톤
1  파랑  2000  20
2  노랑  3000  30

In [ ]:
df.sample(2) # 랜덤 추출

   색상    가격
0  빨강  1000
1  파랑  2000

In [ ]:
df.shape # (행, 열)

(3, 2)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   색상      3 non-null      object
 1   가격      3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [32]:
df.corr(numeric_only=True)

     가격    톤
가격  1.0  1.0
톤   1.0  1.0

In [34]:
df.nunique()

색상    3
가격    3
톤     3
dtype: int64

In [36]:
df['톤'].unique()

array([10, 20, 30])

In [ ]:
df['톤'].value_counts() # s 주의

톤
10    1
20    1
30    1
Name: count, dtype: int64

In [39]:
df.describe()

           가격     톤
count     3.0   3.0
mean   2000.0  20.0
std    1000.0  10.0
min    1000.0  10.0
25%    1500.0  15.0
50%    2000.0  20.0
75%    2500.0  25.0
max    3000.0  30.0

In [42]:
df.describe(include='O')

        색상
count    3
unique   3
top     빨강
freq     1