In [14]:
import pandas as pd

data = {
    'Date1': ['2024-02-17', '2024-02-18', '2024-02-19'],
    'Date2': ['2024:02:17', '2024:02:18', '2024:02:19'],
    'Date3': ['24/02/17', '24/02/18', '24/02/19'],
    'Date4': ['02/17/2024', '02/18/2024', '02/19/2024'],
    'Date5': ['17-Feb-2024', '18-Feb-2024', '19-Feb-2024'],
    'Date6': ['2024년02월17일', '2024년02월18일', '2024년02월19일'],

    'DateTime1': ['24-02-17 11:45:30', '24-02-18 12:55:45', '24-02-19 13:30:15'],
    'DateTime2': ['2024-02-17 11-45-30', '2024-02-18 12-55-45', '2024-02-19 13-30-15'],
    'DateTime3': ['02/17/2024 11:45:30 AM', '02/18/2024 12:55:45 PM', '02/19/2024 13:30:15 PM'],
    'DateTime4': ['17 Feb 2024 11:45:30', '18 Feb 2024 12:55:45', '19 Feb 2024 13:30:15']
}

df = pd.DataFrame(data)
df.to_csv("date.csv", index=False)
df

,Date1,Date2,Date3,Date4,Date5,Date6,DateTime1,DateTime2,DateTime3,DateTime4
0,2024-02-17,2024:02:17,24/02/17,02/17/2024,17-Feb-2024,2024년02월17일,24-02-17 11:45:30,2024-02-17 11-45-30,02/17/2024 11:45:30 AM,17 Feb 2024 11:45:30
1,2024-02-18,2024:02:18,24/02/18,02/18/2024,18-Feb-2024,2024년02월18일,24-02-18 12:55:45,2024-02-18 12-55-45,02/18/2024 12:55:45 PM,18 Feb 2024 12:55:45
2,2024-02-19,2024:02:19,24/02/19,02/19/2024,19-Feb-2024,2024년02월19일,24-02-19 13:30:15,2024-02-19 13-30-15,02/19/2024 13:30:15 PM,19 Feb 2024 13:30:15

In [15]:
print(df['Date1'])
df['Date1'] = pd.to_datetime(df['Date1'])
print(df['Date1'])

0    2024-02-17
1    2024-02-18
2    2024-02-19
Name: Date1, dtype: object
0   2024-02-17
1   2024-02-18
2   2024-02-19
Name: Date1, dtype: datetime64[ns]

In [16]:
print(df['Date2'])
df['Date2'] = pd.to_datetime(df['Date2'], format='%Y:%m:%d')
print(df['Date2'])

0    2024:02:17
1    2024:02:18
2    2024:02:19
Name: Date2, dtype: object
0   2024-02-17
1   2024-02-18
2   2024-02-19
Name: Date2, dtype: datetime64[ns]

In [18]:
print(df['Date3'])
df['Date3'] = pd.to_datetime(df['Date3'], format='%y/%m/%d')
print(df['Date3'])

0    24/02/17
1    24/02/18
2    24/02/19
Name: Date3, dtype: object
0   2024-02-17
1   2024-02-18
2   2024-02-19
Name: Date3, dtype: datetime64[ns]

In [19]:
print(df['Date4'])
df['Date4'] = pd.to_datetime(df['Date4'])
print(df['Date4'])

0    02/17/2024
1    02/18/2024
2    02/19/2024
Name: Date4, dtype: object
0   2024-02-17
1   2024-02-18
2   2024-02-19
Name: Date4, dtype: datetime64[ns]

In [20]:
print(df['Date5'])
df['Date5'] = pd.to_datetime(df['Date5'])
print(df['Date5'])

0    17-Feb-2024
1    18-Feb-2024
2    19-Feb-2024
Name: Date5, dtype: object
0   2024-02-17
1   2024-02-18
2   2024-02-19
Name: Date5, dtype: datetime64[ns]

In [21]:
print(df['Date6'])
df['Date6'] = pd.to_datetime(df['Date6'], format='%Y년%m월%d일')
print(df['Date6'])

0    2024년02월17일
1    2024년02월18일
2    2024년02월19일
Name: Date6, dtype: object
0   2024-02-17
1   2024-02-18
2   2024-02-19
Name: Date6, dtype: datetime64[ns]

In [23]:
df['year'] = df['Date6'].dt.year
df

,Date1,Date2,Date3,Date4,Date5,Date6,DateTime1,DateTime2,DateTime3,DateTime4,year
0,2024-02-17,2024-02-17,2024-02-17,2024-02-17,2024-02-17,2024-02-17,24-02-17 11:45:30,2024-02-17 11-45-30,02/17/2024 11:45:30 AM,17 Feb 2024 11:45:30,2024
1,2024-02-18,2024-02-18,2024-02-18,2024-02-18,2024-02-18,2024-02-18,24-02-18 12:55:45,2024-02-18 12-55-45,02/18/2024 12:55:45 PM,18 Feb 2024 12:55:45,2024
2,2024-02-19,2024-02-19,2024-02-19,2024-02-19,2024-02-19,2024-02-19,24-02-19 13:30:15,2024-02-19 13-30-15,02/19/2024 13:30:15 PM,19 Feb 2024 13:30:15,2024

In [25]:
df['Date6'].dt.dayofweek # 0:월 ~ 6:일

0    5
1    6
2    0
Name: Date6, dtype: int32

In [27]:
df['weekend'] = df['Date6'].dt.dayofweek >= 5
df

,Date1,Date2,Date3,Date4,Date5,Date6,DateTime1,DateTime2,DateTime3,DateTime4,year,weekend
0,2024-02-17,2024-02-17,2024-02-17,2024-02-17,2024-02-17,2024-02-17,24-02-17 11:45:30,2024-02-17 11-45-30,02/17/2024 11:45:30 AM,17 Feb 2024 11:45:30,2024,True
1,2024-02-18,2024-02-18,2024-02-18,2024-02-18,2024-02-18,2024-02-18,24-02-18 12:55:45,2024-02-18 12-55-45,02/18/2024 12:55:45 PM,18 Feb 2024 12:55:45,2024,True
2,2024-02-19,2024-02-19,2024-02-19,2024-02-19,2024-02-19,2024-02-19,24-02-19 13:30:15,2024-02-19 13-30-15,02/19/2024 13:30:15 PM,19 Feb 2024 13:30:15,2024,False

In [37]:
df = pd.read_csv('date.csv', usecols=['DateTime4'], parse_dates = ['DateTime4'])
df

            DateTime4
0 2024-02-17 11:45:30
1 2024-02-18 12:55:45
2 2024-02-19 13:30:15

In [39]:
day = pd.Timedelta(days=99)
day

Timedelta('99 days 00:00:00')

In [41]:
df['100일후'] = df['DateTime4'] + day
df

            DateTime4               100일후
0 2024-02-17 11:45:30 2024-05-26 11:45:30
1 2024-02-18 12:55:45 2024-05-27 12:55:45
2 2024-02-19 13:30:15 2024-05-28 13:30:15

In [47]:
hours = pd.Timedelta(hours=99)
hours

Timedelta('4 days 03:00:00')

In [48]:
df['100시간후'] = df['DateTime4'] + hours
df

            DateTime4               100일후              100시간후
0 2024-02-17 11:45:30 2024-05-26 11:45:30 2024-02-21 14:45:30
1 2024-02-18 12:55:45 2024-05-27 12:55:45 2024-02-22 15:55:45
2 2024-02-19 13:30:15 2024-05-28 13:30:15 2024-02-23 16:30:15

In [49]:
hours.dt.total_seconds()

AttributeError: 'Timedelta' object has no attribute 'dt'